.particlesContainer {
  height: 300px;
  width: 30%;
  border: 1px black solid;
  margin-left:auto; 
  margin-right:0;
  display: flex;
}

.particle {
  display: inline-flex;
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 0;
  right: 0;
  top: 100%;
  margin: auto;
}

img{
  width: 27px;
  height: 27px;
}